.wrap{
  color: azure;
}

.loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("/img/Preloader_11.gif") center no-repeat #fff;
}

#particles-js {
  position : absolute;
  width:100%;
  height:100%;
  background-color: #34eb86;
  z-index: -1;
}

#button {
  display: none; 
}